/* 
	base layout
	base decoration
*/

body {font-size: 1.5em;}

code {
	color: #607D8B;
	background-color: #ECEFF1;
}

.mt_m {margin-top: 16px;}
.mt_l {margin-top: 24px;}
.mt_xl {margin-top: 32px;}
.mt_xxl {margin-top: 48px;}


